@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

*{
    font-family: "Inter", sans-serif;
}

h1 {
    color: #155B86;
}

.popup .img-cerrar{
    width: 20px;
    height: 20px;
    margin-left: 300px;
 }

 .popup .user-images-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup .imagen-camara {
    margin-right: 40px;
  }
  
  .popup .btn-save,
  .popup .btn-cancel {
    width: 85px;
    height: 35px;
    color: white;
    border-style: none;
    border-radius: 3px;
  }
  
  .popup .btn-save {
    background-color: #2E7D32;
    margin-right: 30px;
    
  }
  
  .popup .btn-cancel {
    background-color: #B30000;
  }

  .popup .elemento_titulo{
    margin-right: 80px;

  }

  .popup .elemento_enlace{
    margin-top: 15px;
    font-size: 10px;
    color: black;
    font-weight: lighter;
}

.popup #inputEmail{
    width: 360px;
    height: 35px;
    margin-right: 29px;
    border-radius: 3px;
}

.popup #inputEmail::placeholder {
    text-align: center;
  }

.popup #inputPassword{
    width: 360px;
    height: 35px;
    border-radius: 3px;
}

.popup #inputPassword::placeholder {
    text-align: center;
  }

  .popup #inputRepeatPassword{
    width: 360px;
    height: 35px;
    border-radius: 3px;
}

.popup #inputRepeatPassword::placeholder {
    text-align: center;
  }

  .popup .container-parrafo-politicas{
    display: flex;
    justify-content: center;
 }
 
 .popup .btn-continuar{
    width: 360px;
    height: 35px;
    margin-right: 28px;
    color: white;
    border-style: none;
    border-radius: 3px;
    background-color: #2E7D32;
 }

 /* Estilos para los botones */
 .popup .btn-facebook,
 .popup .btn-google,
 .popup .btn-apple {
  width: 330px;
  height: 35px;
  background-color: white; 
  border: 1px solid black;
  text-align: center;
  line-height: 35px;
  margin-right: 30px;
  cursor: pointer;
}

/* Estilos para los íconos */
.popup .img-icon {
  vertical-align: middle;
}

/* Estilos para los contenedores */
.popup .div-facebook,
.popup .div-google,
.popup .div-apple {
  align-items: center;
}

.popup .elemento_enlace-lostPassword{
    margin-top: 5px;
    margin-right: 180px;
    font-size: 10px;
    color: black;
    font-weight: lighter;
}

.popup {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

 

