h1,h2,h3,h4,h5,h5,p,li{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  *{
    padding: 0;
    box-sizing: border-box;
  }

  .nombre-empresa{
    color: #155B86;
  }
  nav {
      border-bottom: 1px solid black;
      padding: 15px 25px;
  
    }
  #nav-sti{
      padding-bottom: 2%;
     
  }
    .p-pagina{
      position: relative;
    }
  .nav1{
    padding-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .nav2{
  }
  .privacidad{
    color: #155B86;
    border-bottom: 1px solid #155B86;
    font-weight: bold;
  }
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    nav ul li {
      display: inline-block;
      margin-right: 70px;
      font-size: 20px;
    }
    
    nav ul li a {
      display: block;
      color: #000000;
      text-decoration: none;
      padding-top: 5px;
      font-size: 20px;
    }
    
    nav ul li a:hover {
      background-color: #155B86;
      color: #fff;
    }
    
    .grande{
      display: flex;
      flex-direction: row;
    }
  
    .indice{
      position:sticky;
      top: 0;
      
      text-align: left;
      width: 35%;
      height: 100%;
      padding: 20px;
    }
    #indice-atras{
        text-decoration: none;
        list-style-type: none;
        border-bottom: 1px solid black;
        width: 100px;
        text-align: center;

    }
    .indice li a{
        text-decoration: none;
        color: #000000;
            }
    .info{
      border-left: 1px solid black;
      width: 65%;
      text-align: center;
      padding-left:5%;
      padding-right: 5%;
      margin-top:2%; 
      margin-bottom:2%; 
    }
    .termino-m{
      font-family: Arial, sans-serif; 
      font-size: 18px;
      margin: 30px;
    }
  
   
    p{
      text-align: justify;
      font-family: Arial, sans-serif; 
      font-size: 16px;
    }
    .info li {
      font-family: Arial, sans-serif; 
      font-size: 18px;
      list-style-type: none;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  
  .p-pagina{
      background-color:#155B86 ;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
  }
  .terminos-pies{
      display: flex;
      flex-direction: row;
      text-decoration: none;
      list-style-type: none;
  }
  
  .temino-p{
      display: inline-block;
      justify-content: center;
      margin: 100px;
      padding: 100px;
  }
  
  .texto-pie{
  text-decoration: none;
  color: #fff;
  margin: 60px;
  }
  
  @media (max-width: 767px) { 
    .nav1{
      display: flex;
      flex-direction: row;
    }
    nav ul {
      display: flex;
      flex-direction: row;
    }
    
    nav ul li a {
  
    }
    
  
    .grande {
      display: flex;
      flex-direction: column;
    }
    .info{
        width: 100%;
        padding: 5% 5% 5% 5%;
    }
  
    .indice{
      position: relative;
        width: 100%;
        padding: 5% 5% 5% 5%;
        border: none;
        background-color: #a5a5a5;
    }
  
    nav{
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
  
    .segundo {
  
      display: none;
    }
    .p-pagina ul{
      flex-direction: column;
      column-gap: 2%;
    }
    .p-pagina{
      column-gap: 2%;
      display: flex;
      flex-direction: column;
  
    }
    .terminos-pies{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .termino-p{
      width: 90%;
      border-bottom: 1px solid black;
      margin-top: 2%;
      margin-bottom: 2%;
      padding-top: 2%;
      padding-bottom: 2%;
    }
    #pie-pagina-termino-uso{
      border: none;
    }
  
  }
  
  @media (max-width: 767px) { 
  nav ul li {
    margin-right: 35px;
  }
  }